body {
  /* background-color: red; */
}

.container {
  width: 800px;
  margin: auto;
  margin-top: 50px;
}

.phoneImage {
  width: 450px;
  display: inline-block;
  border: 2px solid black;
  text-align: center;
}

.phoneImage img {
  width: 450px;
  width: 400px;
  margin-top: 40px
}

.signUpForm {
  height: 200px;
  width: 300px;
  background-color: blue;
  display: inline-block;
}
